:root {
    --primary-color: purple;
    --secondary-color: black;
    --tertiary-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

/* header and navigation styles */

header {
    background-color:var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-size: cover;
    background-image: url(../assets/lines.jpeg);
    background-attachment: fixed;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header h1 {
    font-weight: bolder;
    font-style: italic;
    margin: 0;
    font-size: 48px;
    color:var(--primary-color);
    text-shadow: 0 0 10px rgba(128,0,128)
}
header a {
    color: var(--primary-color);
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0, 0.5);
}
header nav ul li a:hover {
    background-color:var(--primary-color);
    color:silver;
    border-radius: 15px;
    text-shadow: none;
}
 /* end header and navigation styles */

footer {
    background-color: var(--tertiary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
 footer div {
     line-height: 1.5;
     text-align: center;
     font-size: 20px;
     line-height: 1.5;

 }
 footer a {
     color: var(--secondary-color);
         
 }

.hero {
    background-image: url("../assets/lines.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    color: purple
}
 .section-title {
     font-size: 42px;
     border-bottom: 5px solid;
     color: black;
     padding-bottom: 20px;
     text-align: center;
     margin: auto 0 25px auto;
     width: 100%;
 }

.primary-border {
    border-color: purple;
}

.about-me-img {
    align-items: center;
    width: 50%;
    margin: 0 auto 35px auto;
    padding-bottom: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.intro p {
    text-align: justify;
    margin: 35px;
}


.portfolio {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
   
}
.flex-container {
    display: flex;
    flex-direction: row ;
    
}
.work{
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    min-height: 25vh;
    min-width: 20vh;
    justify-content: center;
    flex-direction: column;
    background: var(--tertiary-color);
    color: var(--secondary-color);
    
           
}
.work img {
    justify-content: center;
    border: 2px solid var(--primary-color);
    width: 300px;
    height: 400px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    flex-direction: row;

    
}
.portfolio-work {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;

}
.link {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
} 
.work h3 {
    font-size: 28px;
    text-align: center;

}
.work h4 {
    font-size: 20px;
    text-align: center;
}

/* UTILITIES */
.flex-row {
    display: flex;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  .section-title {
    width: 80%;
  }

