body {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header and navigation styles */

header {
    background-color:burlywood;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-size: cover;
    background-image: url(../assets/lines.jpeg);
    background-attachment: fixed;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header h1 {
    font-weight: bolder;
    font-style: italic;
    margin: 0;
    font-size: 48px;
    color: purple;
    text-shadow: 0 0 10px rgba(128,0,128)
}
header a {
    color: purple;
    text-decoration: black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0, 0.5);
}
header nav ul li a:hover {
    background-color:purple;
    color: gold;
    border-radius: 15px;
    text-shadow: none;
}
 /* end header and navigation styles */

 .section-title {
     font-size: 42px;
     border-bottom: 5px solid;
     color: gray;
     padding-bottom: 20px;
     text-align: center;
     margin: auto 0 35px auto;
     width: 50%;
 }
 
